*{
    margin: 0;
    padding: 0;;
}

#titulo{
    font-family: sans-serif;
    margin-left: 10%;
}

#semititulo{
    font-family: sans-serif;
    margin-left: 5%;
}

fieldset{
    border: 0;
}

body{
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-size: 1em;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, button{
    border-radius: 5px;
}
.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], input[type="double"], input[type="Integer"], campo select{
    padding: 0.2em;
    border: 1px solid;
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus{
    background: #e0e0f8;
}

.botao{
    font-size: 1.2em;
    background-color: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right:  -50%;
    transform: translate(-50%, -50%);
}

.voltar{
    font-size: 1.2em;
    background-color: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    position: absolute;
    top: 5%;
    left: 30%;
    margin-right:  -50%;
    transform: translate(-50%, -50%);
}
