<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="favicon.ico"/>
	<title>Cadastrar um novo Funcionário </title>
	<link rel="stylesheet" type="text/css"
		href="resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="resources/css/main.css">
	<link rel="stylesheet" type="text/css"
		href="novo-funcionario-style.css" media="screen">
</head>

<body>

	<button class="voltar" type="submit" href="/funcionarios/index.html">Voltar</button>


	<div>
		
		<h4 id="titulo">Cadastro de funcionário</h4>
		<p id="semititulo">Implementar o cadastro de funcionários</p>	
	</br>
	</div>

		<script src="resources/js/vue.js"></script>
		<script src="resources/js/axios.min.js"></script>
		<script src="resources/js/cadastro-de-funcionario.js"></script>

	<form>
		<fieldset class="grupo">
			<div class="campo">
				<label for="nome"><strong>Nome</strong></label>
				<input type="text" name="nome" id="nome" required/>
			</div>
		</fieldset>

		<fieldset class="grupo">
			<div class="campo">
				<label for="setor"><strong>Setor</strong></label>
				<select v-model="setor">
					<option v-for="setor in listaSetor" :value="setor">{{setor.nome}}</option>
				</select>
			</div>
		</fieldset>

		<fieldset class="grupo" >	
			<div class="campo">
				<label for="salario"><strong>Salário</strong></label>
				<input type="Double" id="salario" required/>
			</div>
		</fieldset>

		<fieldset class="grupo">
			<div class="campo">
				<label for="email"><strong>Email</strong></label>
				<input type="email" required/>
			</div>
		</fieldset>

		<fieldset class="grupo">			
			<div class="campo">
				<label for="idade"><strong>Idade</strong></label>
				<input type="Integer" id="idade" required/>
			</div>
		</fieldset>

			<button class="botao" type="submit" onsubmit="save">Enviar</button>
	</form>	

		<script src="../resources/js/vue.js"></script>
		<script src="../resources/js/axios.min.js"></script>
		<script src="../resources/js/axios.min.map"></script>
		<script src="../resources/js/bootstrap-vue.js"></script>
		<script src="../resources/js/bootstrap.min.js"></script>
		<script src="../resources/js/bootstrap.min.js.map"></script>
		<script src="../resources/js/cadastro-de-funcionario.js"></script>
		
</body>
</html>
